@import url("https://unicons.iconscout.com/release/v4.0.8/css/line.css");

* {
  padding: 0;
  margin: 0;
}

body,
.MainContainer {
  background-color: white;
  transition: background-color 2s ease;
}

.MainComponentsHome {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.IconNavBarTheme {
  height: 33px;
  margin: 8%;
}

.IconNavBarTheme:hover {
  cursor: pointer;
}

.NavBarContainer {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0450c2;
  transition: background-color 2s ease;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.NavBarContainerNone {
  display: none;
}

.containerOptions,
.subContainerOptions {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
  background-color: #0450c2;
  transition: background-color 2s ease;
}
.containerIconNavBar {
  transition: margin-left 0.3s ease;
}
.MainComponentsHome {
  transition: margin-left 0.3s ease;
}
.IconNavBar {
  width: 30px;
  margin-left: 30px;
}
#XIcon,
#MenuIcon {
  cursor: pointer;
}

#XIcon {
  display: none;
}

.IconNavBarOff {
  display: none;
}

.IconUserPhoto {
  width: 66px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 5px;
}
.IconUserPhoto:hover {
  cursor: pointer;
}

.SideBarContainer {
  left: 0;
  top: 0;
  height: 100%;
  z-index: 4;
  position: fixed;
  background-color: #0450c2;
  transition: background-color 2s ease;
  display: none;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0px 0px 0px #c7c7c7;
  border-top: 1px solid #c7c7c7;
  transition: display 0.3s ease;
}

.containerImg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ImgLogo {
  width: 160px;
}

.ListLinks {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.itemList {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 20px;
}

.itemList a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.itemList:hover {
  cursor: pointer;
}

.MainListText {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.IconSideBar {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}
.Saida {
  width: 20px;
  height: 26px;
  margin-left: 30px;
}

#chartBar {
  width: 200px;
  height: 250px;
}

.containerChar {
  background-color: white;
  margin: 52px;
}

.containerChar,
.Bar {
  width: 500px;
  border-radius: 20px;
}

.ContainerNavbar {
  margin: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ContainerCharts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Logotype {
  font-size: 14px;
  margin-bottom: 13%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Exit {
  height: 24px;
  width: 100%;
  background-color: #0073dc;
}

.Exit :hover {
  cursor: pointer;
}

.subNavbarContainer {
  width: 85%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 1px 1px #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #0450c2;
  transition: background-color 2s ease;
}
.TextSubNavContainer {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  color: white;
}
.containerData {
  display: flex;
  align-items: center;
}

.containerData,
.calendar {
  width: 190px;
}

.IconSubNavConainerText {
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.containerUserSettings {
  width: 500px;
  height: 400px;
  background-color: white;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 20px 0px 0px 20px;
  border-bottom: 0.1px solid black;
  border-top: 0.1px solid black;
  border-left: 0.1px solid black;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #0450c2;
  transition: background-color 2s ease;
}

.ListOptions {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.Options {
  margin-left: 15px;
  margin-bottom: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.ImageUser {
  margin-top: 15px;
}

.userPicture {
  width: 160px;
  height: 140px;
  border-radius: 20px;
  background-color: gray;
  z-index: 1;
  position: relative;
}

.IconExitPerson {
  height: 51px;
  margin-right: 30px;
  margin-top: 10px;
}

.IconExitPerson:hover,
.EditUserImg:hover {
  cursor: pointer;
}
#SunIcon {
  display: none;
}
.UserPictureIcon {
  width: 50px;
  z-index: 2;
  position: absolute;
  top: 96px;
  left: 110px;
}

.containerChar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContanerImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  
  .subNavbarContainer {
    width: 84%;
  }
  .ContainerCharts {
    display: flex;
    flex-direction: row;
  }
  /* .ContainerNavbar,
  .ContainerCharts {
    width: 100%;
  } */
  .containerChar {
    margin: 0px;
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 41px;
  }
  .containerUserSettings {
    width: 100%;
    height: 310px;
  }
  .containerChar,
  .Bar {
    width: 100%;
  }
 
}
@media screen and (max-width: 992px) {
  .MainComponentsHome {
    display: block;
    
  }
  .subNavbarContainer {
    width: 94%;
  }
  .ContainerCharts {
    display: flex;
    flex-direction: column;
  }
  /* .ContainerNavbar,
  .ContainerCharts {
    width: 100%;
  } */
  .containerChar {
    margin: 0px;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  .containerUserSettings {
    width: 100%;
    height: 310px;
  }
  .containerChar,
  .Bar {
    width: 100%;
  }
 
}
@media screen and (max-width: 768px) {
  
  .subNavbarContainer {
    width: 79%;
  }
  .ContainerCharts {
    display: flex;
    flex-direction: column;
  }
  /* .ContainerNavbar,
  .ContainerCharts {
    width: 100%;
  } */
  .containerChar {
    margin: 0px;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  .containerUserSettings {
    width: 100%;
    height: 310px;
  }
  .containerChar,
  .Bar {
    width: 100%;
  }
 
}
@media screen and (max-width: 576px) {
  
  .subNavbarContainer {
    width: 79%;
  }
  .ContainerCharts {
    display: flex;
    flex-direction: column;
  }
  /* .ContainerNavbar,
  .ContainerCharts {
    width: 100%;
  } */
  .containerChar {
    margin: 0px;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  .containerUserSettings {
    width: 100%;
    height: 310px;
  }
  .containerChar,
  .Bar {
    width: 100%;
  }
  .SideBarContainer {
    width: 219px;
  }
}

@media screen and (max-width: 430px) {
  .containerUserSettings {
    width: 100%;
    height: 310px;
  }
  .userPicture {
    width: 120px;
    height: 100px;
    border-radius: 20px;
    background-color: gray;
    z-index: 1;
    position: relative;
  }
  .subNavbarContainer {
    width: 80%;
    margin-top: 20px;
  }
  .TextSubNavContainer,
  .IconSubNavConainerText {
    font-size: 18px;
    margin-left: 10px;
  }
  .ContainerCharts {
    display: flex;
    flex-direction: column;
  }
  .SideBarContainer {
    width: 179px;
  }
  .ImgLogo {
    width: 168px;
  }
  .containerOptions,
  .subContainerOptions {
    margin-right: 1px;
  }
  #RefreshButton {
    display: none;
  }
  .ContainerNavbar,
  .ContainerCharts {
    width: 100%;
  }
  .ContainerNavbar{
    margin: 0%;
  }
  .containerChar {
    margin: 0px;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  .IconUserPhoto {
    width: 60px;
    height: 60px;
  }
}
